.eurus-dropdown {
  position: relative;
  display: inline-block;
  font-size: var(--text-sm);

  & > .eurus-dropdown-content {
    cursor: pointer;
    transition: color 0.3s ease-in;
    &:hover {
      color: var(--primary-color);
    }
  }

  & > .eurus-dropdown-overlay-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 4px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    /* display: inline-block;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055); */

    &.overlay-active {
      display: inline-block;
      /* opacity: 1;
      transform: translateY(0); */
    }

    /* &.overlay-top {
      transform: translateY(-8px);
    }

    &.overlay-bottom {
      transform: translateY(8px);
    } */
  }
}
