.eurus-slider {
  /* Vetical start */
  &.slider-vertical {
    padding-top: 12px;
    padding-bottom: 12px;

    & .eurus-slider-track {
      height: 80px;
      width: 4px;
      background-color: var(--primary-color);
    }

    & .eurus-slider-track-fill {
      height: 0;
      width: 100%;
      background-color: var(--secondary-color);
    }

    & .eurus-slider-dot {
      left: 50%;
      top: calc(100% - 4px);
      transform: translateX(-50%);
    }
  }
  /* Vertical end */

  /* Horizon start */
  &.slider-horizon {
    padding-left: 12px;
    padding-right: 12px;

    & .eurus-slider-track {
      width: 80px;
      height: 4px;
    }

    & .eurus-slider-track-fill {
      height: 100%;
      width: 0;
    }

    & .eurus-slider-dot {
      top: 50%;
      left: calc(100% - 4px);
      transform: translateY(-50%);
    }
  }
  /* Horizon end */

  & > .eurus-slider-track {
    background-color: var(--secondary-color);
    border-radius: var(--rounded);
  }

  & .eurus-slider-track-fill {
    position: relative;
    border-radius: var(--rounded);
    background-color: var(--primary-color);
  }

  & .eurus-slider-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
  }
}
