.eurus-player-container {
  width: 100%;
  height: 100%;
  position: relative;

  & > .eurus-player {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  & > .eurus-player-control {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.85);

    & > .eurus-player-control-items {
      display: flex;
      justify-content: space-between;

      & > .eurus-player-control-items-left {
        display: flex;
        align-items: center;
      }
    }

    & > .eurus-player-control-progress {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      width: 100%;
      padding: 0 4px;
      box-sizing: border-box;
    }
  }
}
