.eurus-player-control-volume {
  display: inline-block;
}

.eurus-player-control-volume-overlay {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: 8px;
  padding-right: 8px;

  & .eurus-player-control-volume-overlay-value {
    font-size: var(--text-xs);
    color: var(--white);
    display: inline-block;
    width: 24px;
  }
  & .eurus-player-control-volume-overlay-slider {
    margin: 0 auto;
  }
}
